/* Global CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.6;
  max-width: 50ch;
  margin: 5px 0 5px 6px;
}

body {
  color: #fff;
  background: #eeeeee;
  /* font: 16px/1.5 Roboto arial sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.container {
  /* border: 1px solid #999; */
  width: 90%;
  margin: auto;
  padding: 10px 5px;
}

.flexy {
  display: flex;
  justify-content: flex-end;
}

header {
  background: #e96c4c;
  min-height: 70px;
}

.main-sec {
  background: #00ff00;
  height: 400px;
}

.social {
  background: #2d74b3;
  min-height: 100px;
  padding-bottom: 30px;
}

.social h2 {
  padding: 10px;
}

.footer {
  /* background: #eb347d; */
  /*background: #999;*/
  background: #e96c4c;
  height: 50px;
  font-size: smaller;
  /* text-align: center; */
}

.branding {
  flex: 1;
}

.branding h1 {
  /* background: #cc0000; */
  margin-top: 10px;
  padding: 3px 5px 27px 10px;
  padding-left: 0;
  color: #fff;
}

.navigation {
  flex: 1.5;
  /*background: #ccc;*/
  padding: 5px 0;
}

.navigation ul {
  padding: 15px 0px 15px 5px;
  margin: 5px 0 2px 0;
  /*background: #0000ff;*/
  padding-bottom: 18px;
}

.navigation li {
  display: inline;
  color: #fff;
  /*background: #ffff00;*/
  padding: 5px 5px;
  margin: 0;
  font-weight: bold;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.rounded {
  width: 50px;
  height: 50px;
  border: 2px solid #e96c4c;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  margin-left: 15px;
  margin-top: 10px;
}

.one {
  /*background: #ff0;*/
  flex: 1;
  color: #fff;
}

.one a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.two {
  /*background: #f0f;*/
  flex: 1;
  color: #fff;
}

.two a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.three {
  /*background: #ff0;*/
  flex: 1;
  color: #fff;
}

.three a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

#currency-at-hand {
  margin: 20px 10px 5px 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  /* background: #ff00ff; */
}

#currency-desired {
  margin: 3px 10px 5px 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  /*background: #ff00ff;*/
}

.form-ctrl {
  font-size: 1.3rem;
  width: 90%;
}

#btn-1 {
  margin: 5px 10px 10px 5px;
  width: 200px;
  padding: 5px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  background: #e96c4c;
  font-size: 1.5rem;
}

.results {
  padding: 10px;
  font-size: 1.3rem;
  /* background: #990000; */
  min-height: 100px; /* Take note when implementing the "waiting" icon */
}

.pushed {
  margin-top: 20px;
}
