/*************************
***** Global CSS**********
*************************/

:root {
  --main-color: #2d74b3;
  --secondary-color: #e96c4c;
  --main-bg-color: #eeeeee; /* #75a9d7; */
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  font-size: 16px;
}

p {
  line-height: 1.5;
  max-width: 50ch;
  margin: 5px 0 5px 6px;
  font-size: 1rem;
}

/* Make select elements and input elements the same width. 
Credit: https://stackoverflow.com/questions/4073768/how-to-get-equal-width-of-input-and-select-fields */
textarea, /* textarea Added as an experiment for textarea field. Remove if it doesn't work */
input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  padding: 5px;
  /* border: 2px solid #cc0000; */
}

.flexy {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.form-ctrl {
  font-size: 1rem;
  height: 30px;
  width: 90%;
  border: 1px solid #999999;
  border-radius: 5px;
}
.btn-1 {
  height: 30px;
  width: 50%;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

a {
  color: #ffffff;
}

/*************************
***** Header  ************
*************************/

.header {
  background-color: var(--main-color);
  padding-top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header .container {
  padding-top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header ul a {
  display: block;
  /* outline: 1px solid red; */
  padding: 20px;
  text-decoration: none;
}

header ul a:hover {
  background-color: var(--secondary-color);
  min-height: 100%;
}

.header .logo {
  float: left;
  display: block;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  /* outline: 1px solid red; */
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: #ffffff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/*************************
***** Main Section *******
*************************/

main #main-heading {
  font-size: 1.5 rem;
  font-weight: bold;
  text-align: center;
  max-width: 60ch;
  padding: 5px 5px 0 5px;
  margin: 30px auto 2px auto;
  color: #161616;
  /* background: #e96c4c; */
}

main .sub-heading {
  font-size: 1.3rem;
  font-weight: regular;
  text-align: center;
  max-width: 50ch;
  padding: 15px auto;
  margin: 0 auto 3px auto;
  /* background: orangered; */
}

.main-text {
  /* background: #900; */
  padding: 10px 20px;
  margin: auto;
}

#main-form {
  /* background: #c00; */
  padding-left: 20px;
}
.first {
  flex: 1;
  /* background: #cc0000; */
  padding: 5px 5px;
}

.second {
  flex: 2;
  /* background: palevioletred; */
  padding: 1px 5px 3px 5px;
}

.third {
  flex: 1;
  /* background: lightskyblue; */
  padding: 5px 5px;
}

.flexy1 {
  flex: 1;
  /* background: purple; */
}

.flexy2 {
  flex: 1;
  /* background: cyan; */
}
.amount {
  font-size: 1rem;
}

#cash-count {
  margin-bottom: 1px;
  /* background-color: brown; */
}

#currency-at-hand {
  margin-bottom: 7px;
}

#currency-desired {
  margin-bottom: 3px;
}

#flexy-btn {
  height: 30px;
  width: 50%;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

.results {
  min-height: 30px;
  padding-left: 30px;
  margin: auto;
}

/*************************
***** Social Section *******
*************************/
.social {
  background: var(--main-color);
  min-height: 200px;
  padding-top: 25px;
  padding-left: 25px;
}

.social-cont h2 {
  font-size: 1.3rem;
  padding: 0;
  margin-bottom: 0;
}

.social-cont p {
  text-align: center;
  padding: 0;
  position: relative;
  /* background: yellow; */
}

.social-cont a {
  text-decoration: none;
  position: absolute;
  top: 6px;
  right: 20px;
  font-weight: bold;
  /* background: yellow; */
}

.social-1,
.social-2,
.social-3 {
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff /*#e96c4c*/;
  border-radius: 50%;
  margin: 10px;
}

.social-flex-1 {
  flex: 2;
  /* background-color: aquamarine; */
}

.social-flex-2 {
  flex: 1;
  /* background: blueviolet; */
}

.social-cont {
  flex: 1;
  /* background: red; */
}

.newsletter-cont {
  flex: 1;
  /* background: purple; */
}

.newsletter-cont h2 {
  padding: 0;
  margin-bottom: 5px;
}

.social-1 {
  float: left;
}

.social-2 {
  float: left;
}

.social-3 {
  float: left;
}

.newsletter-cont a {
  text-decoration: none;
}

.feedback-btn {
  margin: 15px 10px 10px 0px;
  width: 90%;
  height: 45px;
  background-color: inherit;
  border: 2px solid #3a34eb;
  border-radius: 25px;
  font-weight: bolder;
}

.feedback-btn a {
  text-decoration: none;
  color: #000000;
}

/*************************
***** Footer Section *******
*************************/

footer {
  background: #333333;
  color: #999999;
  min-height: 50px;
}
footer p {
  font-size: smaller;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #999999;
}

/********************************************************************************************************
*************************************Responsive Design starts********************************************
********************************************************************************************************/

@media (min-width: 768px) {
  /********************************************
***** Responsive design for header section ****
***********************************************/
  .header li {
    float: left;
  }

  .header li a {
    padding: 25px 30px;
  }
  .header .menu {
    clear: none; /*initially set to clear: both, thus pushing the menu below the left floated logo (mobile-first approach)*/
    float: right;
    max-height: none; /*initially toggled between 0 and 240px */
  }
  .header .menu-icon {
    display: none;
  }

  /********************************************
***** Responsive design for main section ****
***********************************************/

  main #main-heading {
    font-size: 2.5rem;
    /* max-width: 900px; */
    padding: 15px 40px 5px 40px;
    margin: 20px auto 0 auto;
    /* background: orchid; */
  }

  main .sub-heading {
    font-size: 2.3rem;
    /* max-width: 980px; */
    padding: 0 auto 15px auto;
    margin: 0 auto;
    /* background: orangered; */
  }

  main .main-text {
    font-size: 1.5rem;
  }

  .adjusted {
    width: 60%;
    margin: auto;
  }

  /* .second {
    flex: 1;
    flex-direction: row;
  } */

  .flexy1 {
    flex: 1;
    /* background: #2d74b3; */
  }

  .flexy2 {
    flex: 1;
    /* background: #e96c4c; */
  }
  .amount {
    font-size: 1.5rem;
  }

  #cash-count {
    height: 40px;
    width: 90%;
    font-size: 1.5rem;
  }
  #currency-at-hand {
    height: 40px;
    width: 90%;
    font-size: 1.5rem;
  }

  #currency-desired {
    height: 40px;
    width: 90%;
    font-size: 1.5rem;
  }

  #flexy-btn {
    height: 40px;
    width: 50%;
    font-size: 1.5rem;
  }

  .social-flex-1 {
    flex-direction: row;
  }

  .social-cont h2 {
    font-size: 1.3rem;
  }

  .newsletter-cont h2 {
    font-size: 1.3rem;
  }

  .newsletter-cont .btn-1 {
    height: 40px;
    font-size: 1.3rem;
  }

  .feedback-btn {
    cursor: pointer;
  }
  .feedback-btn a {
    font-size: 1.5rem;
  }

  .copyright {
    text-align: left;
    float: left;
  }

  .bottom-links {
    text-align: right;
    float: right;
    background: #333333;
  }
}

@media (min-width: 650px) {
  .social-flex-1 {
    flex-direction: row;
  }
}

@media (min-width: 950px) {
  .second {
    flex: 1;
    flex-direction: row;
  }

  .parent-social-flex {
    flex-direction: row;
  }

  #cash-count {
    width: 95%;
  }
}
