/* Global CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.6;
  max-width: 50ch;
  margin: 5px 0 5px 6px;
}

body {
  color: #fff;
  background: #eeeeee;
  /* font: 16px/1.5 "Roboto" arial sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

h1 h2 {
  font-size: 2rem;
}

.container {
  /* border: 1px solid #999; */
  width: 90%;
  margin: auto;
  padding: 10px 5px;
}

.form-ctrl {
  font-size: 1.3rem;
  width: 90%;
}

.flexy {
  display: flex;
}

#main-heading {
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  /*background: #ff0;*/
  margin: 10px 0 25px 0;
}

.main-text {
  color: #000;
}

header {
  border-bottom: 3px solid #e96c4c;
  background: #2d74b3;
  min-height: 60px;
}

.main-sec {
  /* background: #00ff00; */
  /*background: url("https://www.beautyhealthplus.org/temp/trading-chart2.png")
    no-repeat -200px 0px;*/
  background: #b4c6f0;
  min-height: 350px;
}

.social {
  background: #2d74b3;
  min-height: 100px;
  padding-bottom: 30px;
}

.social h2 {
  padding: 10px;
}

.footer {
  /* background: #eb347d; */
  /*background: #999;*/
  background: #e96c4c;
  background: #323232;
  border-top: 1px solid #999999;
  min-height: 50px;
  font-size: smaller;
  /* text-align: center; */
}

.branding {
  flex: 1;
}

.branding h1 {
  /* background: #cc0000; */
  margin-top: 10px;
  padding: 3px 5px 27px 10px;
  padding-left: 0;
  color: #fff;
}

.navigation {
  flex: 1.5;
  /*background: #ccc;*/
  padding: 5px 0;
}

.navigation ul {
  padding: 15px 0px 15px 5px;
  margin: 5px 0 2px 0;
  /*background: #0000ff;*/
  padding-bottom: 18px;
}

.navigation li {
  display: inline;
  color: #fff;
  /*background: #ffff00;*/
  padding: 5px 5px;
  font-weight: bold;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.rounded {
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff /*#e96c4c*/;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  margin-left: 15px;
  margin-top: 10px;
}

.one {
  /*background: #ff0;*/
  flex: 1;
  color: #fff;
}

.one a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.two {
  /*background: #f0f;*/
  flex: 1;
  color: #fff;
}

.two a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.three {
  /*background: #ff0;*/
  flex: 1;
  color: #fff;
}

.three a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.amount {
  /*background: #f0f;*/
  padding: 0 10px;
  margin-bottom: 0;
  color: #000;
}

#cash-count {
  margin: 0 10px 5px 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  /* background: #ff00ff; */
}

#currency-at-hand {
  margin: 20px 10px 5px 5px;
  margin: 3px 10px 5px 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  /* background: #ff00ff; */
}

#currency-desired {
  margin: 3px 10px 5px 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  /*background: #ff00ff;*/
}

.btn-1 {
  margin: 5px 10px 10px 5px;
  width: 200px;
  padding: 5px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  background: #e96c4c;
  font-size: 1.5rem;
}

#results {
  color: #000;
  padding: 10px;
  font-size: 1.3rem;
  /*background: #990000;*/
  min-height: 150px; /* Take note when implementing the "waiting" icon */
}

.pushed {
  margin-top: 20px;
}

.feedback-btn {
  margin: 15px 10px 10px 5px;
  width: 90%;
  height: 45px;
  border: 2px solid #3a34eb;
  border-radius: 25px;
  font-weight: bolder;
  background: #2d74b3;
}

.feedback-btn a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

.newsletter-intro {
  margin-top: 20px;
  font-size: 1.2rem;
}

.footer-text {
  text-align: center;
  color: #999;
}

.bottom-links {
  text-align: center;
}

.bottom-links a {
  color: #999;
  text-decoration: none;
  margin-right: 10px;
}

.btn-1 a {
  color: #ffffff;
  text-decoration: none;
}
